<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationsectionHandler" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--获取所有车站-->
    <add key="STATIONNAMEURL" value="https://kyfw.12306.cn/otn/resources/js/framework/station_name.js" />
    <!--初始化生成Cookie1 如: Set-Cookie: JSESSIONID=DC12EF3BB81A0847E4327E615222261D; Path=/otn; route=c5c62a339e7744272a54643b3be5bf64; Path=/-->
    <add key="INITIALURL" value="https://kyfw.12306.cn/otn/index/init" />
    <!--获取验证码-->
    <add key="VERIFYCODEURL" value="https://kyfw.12306.cn/passport/captcha/captcha-image?login_site=E&amp;module=login&amp;rand=sjrand" />
    <!--提交验证码-->
    <add key="CHECKCODEURL" value="https://kyfw.12306.cn/passport/captcha/captcha-check" />
    <!--登录同时生成umatk-->
    <add key="LOGINURL" value="https://kyfw.12306.cn/passport/web/login" />
    <!--产生系统权限Cookie。根据Cookie1产生Cookie2 如Set-Cookie: JSESSIONID=E033C660B967E8A0A6F16EAF565EA049; Path=/otn-->
    <add key="JSESSIONID" value="https://kyfw.12306.cn/otn/passport?redirect=/otn/login/userLogin" />
    <!--认证账号根据umatk产生newapptk-->
    <add key="AUTH" value="https://kyfw.12306.cn/passport/web/auth/uamtk" />
    <!--认证客户端根据jssionid和tk(newapptk)产生apptk-->
    <add key="UAMAUTHCLIENT" value="https://kyfw.12306.cn/otn/uamauthclient" />
    <!--初始化获取globalRepeatSubmitToken-->
    <add key="INITCLIENTCONTRACT" value="https://kyfw.12306.cn/otn/confirmPassenger/initDc" />
    <!--获取订单信息返回参数-->
    <add key="CheckOrderInfoJSUrl" value="https://kyfw.12306.cn/otn/resources/merged/passengerInfo_js.js" />
    <!--获取常用联系人-->
    <add key="CONTRACTURL" value="https://kyfw.12306.cn/otn/confirmPassenger/getPassengerDTOs" />
    <!--进入余票查询页面获取车票查询连接更改下面的QUERYURL-->
    <add key="INITQUERYURL" value="https://kyfw.12306.cn/otn/leftTicket/init" />
    <!--查询车票-->
    <add key="QUERYURL" value="https://kyfw.12306.cn/otn/leftTicket/queryA" />
    <!--提交预定请求-->
    <add key="SubmitOrderRequest" value="https://kyfw.12306.cn/otn/leftTicket/submitOrderRequest" />
    <!--正式提交订单第一步（确认订单）-->
    <add key="CheckOrderInfoUrl" value="https://kyfw.12306.cn/otn/confirmPassenger/checkOrderInfo" />
    <!--正式提交订单第二步（获取当前排队序列）-->
    <add key="GetQueueCountUrl" value="https://kyfw.12306.cn/otn/confirmPassenger/getQueueCount" />
    <!--正式提交订单第三步（确认当前排队序列）-->
    <add key="ConfirmSingleForQueue" value="https://kyfw.12306.cn/otn/confirmPassenger/confirmSingleForQueue" />
    <!--正式提交订单第四步（排队等候返回订单信息）-->
    <add key="QueryOrderWaitTime" value="https://kyfw.12306.cn/otn/confirmPassenger/queryOrderWaitTime" />
    <!--未完成订单（未付款）-->
    <add key="InitNoComplete" value="https://kyfw.12306.cn/otn/queryOrder/initNoComplete" />
    <!--各车站起售时间-->
    <add key="StartSaleTime" value="http://www.12306.cn/mormhweb/zxdt/201411/t20141126_2316.html" />
    <!--车次查询-->
    <add key="QueryTrainByNumber" value="http://search.huochepiao.com/chaxun/resultc.asp?txtCheci=" />
    <!--最新消息-->
    <add key="GetLatestNews" value="http://www.12306.cn/mormhweb/zxdt/index_zxdt.html" />
    <!--验证码规则-->
    <add key="PASSCODERANGE" value="[{35,35}|{105,35}|{175,35}|{245,35}|{35,105}|{105,105}|{175,105}|{245,105}]" />
    <!--登录用户名-->
    <add key="USERNAME" value="" />
    <!--登录密码-->
    <add key="PASSWORD" value="" />
    <!--出发站-->
    <add key="STARTSTATION" value="" />
    <!--到达站-->
    <add key="ENDSTATION" value="" />
    <add key="LatestQueryTime" value="" />
    <!--使用说明-->
    <add key="INSTRUCTION" value="1.选择乘客和席位:勾选即可,可多选$2.添加车次:在上面车次列表中双击即可$3.移除车次:在上面车次列表中右键[删除]即可$4.管理联系人:点击菜单[联系人]$5.查询订单:点击我的菜单" />
    <!--系统流动公告-->
    <add key="NOTICE" value="欢迎登录12306BySelfService 掌握刷票技巧可帮您提高抢票概率哦!" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <!--以下是邮箱配置-->
    <add key="MailServerName" value="smtp.126.com" />
    <add key="MailServerPort" value="25" />
    <add key="UserName" value="henu_xk@126.com" />
    <add key="Password" value="bg6AxsBVleRgXzBVTvC6XQ==" />
    <add key="FromDisplayName" value="人力资源部" />
    <add key="mail_cc_addresses" value="henu_xk@126.com" />
    <add key="mail_to_address" value="henu_xk@126.com" />
    <add key="mail_priority" value="1" />
    <add key="mail_isSSL" value="1" />
    <add key="EmailType" value="2000" />
    <add key="WorkSpaceFolder" value="D:\LGSSES\" />
    <add key="SalaryForMonth" value="0" />
    <add key="txtEmailTitle" value="上海绿HR软件有限公司-工资单" />
    <add key="EmailContent" value="附件是上海嘉扬云信息系统有限公司2016年5月工资，密码是：身份证的后六位数。请核对，如有疑问，请立即与人力资源部HR联系，谢谢！" />
    <add key="ContractsEamilAddress" value="henu_xk@126.com$" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_ITrainService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" transactionFlow="false">
          <security mode="None" />
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:58189/TrainService.svc" binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ITrainService" contract="SelfServiceReference.ITrainService" name="WSDualHttpBinding_ITrainService" />
    </client>
  </system.serviceModel>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true">
      </httpWebRequest>
    </settings>
  </system.net>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="http" clientConnectionLimit="100">
          <clientProviders>
            <formatter ref="soap" />
          </clientProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>